<a href="https://colab.research.google.com/github/AmeenAkbar23/py-journey/blob/main/basics/for_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
for num in mylist:
  print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for num in mylist:
  if num % 2 == 0:
    print(num)
  else:
    print(f'Odd Number : {num}')

Odd Number : 1
2
Odd Number : 3
4
Odd Number : 5
6
Odd Number : 7
8
Odd Number : 9
10

In [ ]:
list_sum = 0

for num in mylist:
  list_sum = list_sum + num
print(list_sum)

55

In [ ]:
mystring = 'hello world'

for letter in mystring:
  print(letter)

h
e
l
l
o

w
o
r
l
d

In [ ]:
tup = (1,2,3)

for item in tup:
  print(item)

1
2
3

In [ ]:
mylist = [(1,2),(3,4),(5,6),(7,8)]
for (a,b) in mylist:
  print(a)
  print(b)

1
2
3
4
5
6
7
8

In [ ]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [ ]:
for a,b,c in mylist:
  print(a)

1
5
8

In [ ]:
d = {'k1':1,'k2':2,'k3':3}

for key,value in d:
  print(value)

1
2
3