<a href="https://colab.research.google.com/github/AmeenAkbar23/py-journey/blob/main/basics/Python_Statements_text.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Use for, .split(), and if to create a Statement that will print out words that start with 's':**

In [ ]:
st = 'Print only the words that start with s in this sentence'

for word in st.split():
  if word[0].lower()=='s':
    print(word)

start
s
sentence

**Use range() to print all the even numbers from 0 to 10.** **bold text**

In [ ]:
for num in range(0,11):
  if num%2==0:
    print(num)

0
2
4
6
8
10

**Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.**

In [ ]:
mylist = [x for x in range(0,51) if x % 3 == 0]
print(mylist)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

**Go through the string below and if the length of a word is even print "even!"**

In [ ]:
st  = 'Go through the string below and if the length of a word is even print even!'

for word in st.split():
  if len(word) % 2 == 0:
    print(f'{word} --> even!')

Go --> even!
string --> even!
if --> even!
length --> even!
of --> even!
word --> even!
is --> even!
even --> even!

**Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz"**

In [ ]:
for num in range(1,100):
  if num % 3 == 0 and i % 5 ==0:
    print('Fizz Buzz')
  elif num % 3 == 0:
    print('fizz')
  elif num % 5 == 0:
    print('buzz')
  else:
    print(num)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizz
91
92
fizz
94
buzz
fizz
97
98
fizz

**Use List Comprehension to create a list of the first letters of every word in the string below:**

In [ ]:
st = 'Use List Comprehension to create a list of the first letters of every word in the string below:'
f = [word[0] for word in st.split()]

print(f)

['U', 'L', 'C', 't', 'c', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's', 'b']